*{
    margin: 0;
    padding: 0;
    box-shadow: pink;
    font-family: "Poppins", sans-serif;

}
a{
    text-decoration: none;
}
.star{
    /* background-color: pink; */
    background: linear-gradient(rgba(237, 191, 238, 0),#fa6dd67e),url(images/IMG_20221013_231944.jpg);
    width: 100;
    height: 100vh;
    background-size: cover;
    
}
.square ul li{
    position: absolute;
    border: 1px solid #aa42e6;
    width: 30px;
    height: 30px;
    list-style: none;
    opacity: 0;
    background: #ce8af5;
}
.circle ul li{
    position: absolute;
    border: 1px solid #aa42e6;
    width: 30px;
    height: 30px;
    list-style: none;
    opacity: 0;
}
.square li{
    top: 50vh;
    left: 45vw;
    animation: square 10s linear infinite;
}
.square li:nth-child(2){
    top: 80vh;
    left: 25vw;
    animation-delay: 2s;
}
.square li:nth-child(3){
    top: 80vh;
    left: 85vw;
    animation-delay: 4s;
}
.square li:nth-child(4){
    top: 20vh;
    left: 70vw;
    animation-delay: 6s;
}
.square li:nth-child(5){
    top: 10vh;
    left: 20vw;
    animation-delay: 8s;
}
@keyframes square{
    0%
    {
        transform: scale(0) rotateY(0deg);
        opacity: 1;
    }
    100%
    {
        transform: scale(5) rotateY(1000deg);
        opacity: 0;
    }
}
.circle li{
    bottom: 0;
    left: 15vw;
    animation: circle 10s linear infinite;
}
.circle li:nth-child(2){
    
    left: 35vw;
    animation-delay: 2s;
}
.circle li:nth-child(3){
    
    left: 55vw;
    animation-delay: 6s;
}
.circle li:nth-child(4){
    
    left: 75vw;
    animation-delay: 4s;
}
.circle li:nth-child(5){
    
    left: 90vw;
    animation-delay: 8s;
}
@keyframes circle{
    0%
    {
        transform: scale(0) rotateY(0deg);
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }
    100%
    {
        transform: scale(5) rotateY(1000deg);
        opacity: 0;
        bottom: 90vh;
        border-radius: 50%;
    }
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.logo{
    max-height: 100px;
    border: 1px solid palevioletred;
    border-radius: 50%;

}
nav ul li{
    
    display: inline-flex;
    left: 50%;
    padding: 30px 50px;

}
nav ul li a{
    width: 150px;
    height: 60px;
    background: #d425b7;
    color: white;
    position: relative;
    padding: 5px 0;
    border: 0.5px solid palevioletred;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    z-index: 2;
    transition: color 0,8s;
    overflow: hidden;
}
nav ul li a::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 0%;
    left: 0;
    bottom: 0;
    background: white;
    z-index: -1;
    transition: 0.8s;
    
}
nav ul li a:hover::after{
    height: 70px;
    width: 150px;
}
nav ul li a:hover{
    color: #865ef3;
}
.link{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 16px 40px;
    border: 1px solid palevioletred;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .5s ease-in-out;
    background-size: 152% 100%;
    background: #d425b7;


}
.link:hover{
    background: transparent;
    color: #865ef3;
}
.content{
    position: absolute;
    top: 35%;
    left: 5%;
}
.content .text-box{
    bottom: 35%;
    background: #f7d6fa;
    display: flex;
    flex-basis: 60%;
    padding: 60px 60px;
} 
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}

.content .title{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #e76ff1 20.69%, #7c51f1 50.19%, #f34360 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.content h1{
    color: black;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;

}
.content h1 span{
    margin-top: 50%;
    color: #f349ac;
}
.content p{
    width: 55%;
    color: rgb(83, 81, 81);
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 20px;
}
.work span{
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-left: 100px;
    background: linear-gradient(120deg, #e76ff1 20.69%, #7c51f1 50.19%, #f34360 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
a img{
    /* display: block; */
    margin-bottom: 50px;
    margin-left: 60px;
    border-radius: 10%;
    tex
}

script{
    color: linear-gradient(120deg, #e76ff1 20.69%, #7c51f1 50.19%, #f34360 79.69%);
}
